/data/
/pipeline/*png
/pipeline/*gif
/crrejtab/
/crrejtab/*/*gif
/crrejtab/*/*txt
/crrejtab/WFC3/IR_TEST_DATA/*
/pipeline/*fits
/pipeline/*tra
/pipeline/utils/*png
/plots/*png
/plots/*gif
/doc/build/
/pipeline/__pycache__/
/pipeline/*/__pycache__/
/pipeline/.ipynb_checkpoints/
/pipeline/.DS_Store
/pipeline/*.ipynb
/pipeline/utils/*txt
.DS_Store
/CONFIG/processed*txt
/CONFIG/failed*txt
/results/*/*hdf5
/doc/
*.fits
.idea/
